* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}
 .body{
  background-color: #e2e7e6;
 }
.navbar {
  height: 60px;
  width: 100%;
  /* height: 10vh; */
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0 0.3vw; */
}

.nav-left{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 15vw;
  height: auto;
}

.nav-logo {
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url(/images/amazon-logo-png.png);
  background-size: cover;
  height: 50px;
  width: 120px;
  margin-left: 10px;
}

.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}

nav-address{
  /* width: 83vw; */
  width: 20%;
  /* height: 48px; */
  padding: 10px;
 }

.add-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}
.add-sec {
  font-size: 1rem;
  margin-left: 3px;
}
.add-icon {
  display: flex;
  align-items: center;
}

.nav-search {
  display: flex;
  justify-content: space-evenly;
  background-color: aquamarine;
  width: 55vw;
  height: 40px;
  border-radius: 4px;
}
.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: none;
}

.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}
.nav-search:hover {
  border: 2px solid orange;
}


.nav-right{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 28vw;
  height: auto
}

.flage{
  width: 5vw;
  height: 55px;
display: flex;
justify-content: center;
align-items: center;
font-weight: 700;
  font-size: 0.85rem
}
.img5{
  background-image: url(/images/USA-Flag-Download-PNG-Image.png);
  width: 30px;
  height: 21px;
  background-size: cover;
display: flex;
}
.text{
  font-weight: 600;
  font-size: 22px;
}

span {
  font-size: 0.7rem;
 
}

.nav-singin{
  width: 7vw;
  min-width: auto;
}

.nav-second {
  font-size: 0.85rem;
  font-weight: 700;
}
.nav-cart i {
  font-size: 30px;
}
.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
  margin-right: 10px;
}

.panel {
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color: white;
  align-items: center;
}

.panel-ops p {
  display: inline;
  margin-left: 15px;
}
.panel-all {
  margin-left: 15px;
}
.panel-ops {
  font-size: 0.85rem;
}
.hero-section {
  background-image: url(/images/hero_image.jpg);
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero-msg {
  background-color: white;
  color: black;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
  width: 80%;
  margin-bottom: 25px;
}
.hero-msg a {
  color: #007185;
}

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.box-img{
    height: 300px;
    background-size:cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}

/* Shop Section 2 */
.shop-section2{
  padding: 10px 20px;
  background-color: #e2e7e6;
  
}
.box-content2{
  display: grid;
  background-color: white;
  margin-bottom: 10px;
}
.heading{
  height: 31px;
  width: 1400px;
  display: block;
  width: auto;
  float: left;
  margin-top: 15px;
  margin-left: 15px;
}
.box2{
  background-color: white;
  margin-top: 10px;
  padding: 10px 20px;
  /* width: 100%; */
  min-height: 220px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.box-img2{
  height: 200px;
  display: flex;
  background-size: cover;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.box2 ul{
  display: flex;
  list-style-type: none;
    position: relative;
    margin: 0 0 14px;
    padding: 0;
}



.footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}
.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
display: flex;
align-items: center;
justify-content: center;
}

.logo{
    background-image: url(/images/amazon_logo.png);
  background-size: cover;
  height: 50px;
  width: 100px;
}
.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top: 25px;
}
.copyright{
    padding-top: 5px;

}
@media screen and (max-width: 1240px) {
  body{
    background-color: red;
  }
  /* .nav-second{
    font-size: 0.6em;
  }
  .add-first{
    font-size: 0.6em;
  } */

  navbar{


  }
 } 
  
